@import 'colors.scss';

:host {
  position: relative;
  color: $text-primary;
  display: inline-block;
  army-badge, hexagon {
    font-size: 140px;
  }

  .badge {
    position: relative;

    .player-avatar {
      position: absolute;
      height: 100%;
      z-index: 9999;
      
      div {
        width: 50px;
        height: 50px;
        border-radius: 100%; 
        overflow: hidden; 
        background-color: lime;
        border: 4px $secondary-dark solid;
        img {
          width: 100%;
          display: block;
        }
      }
    }

    &.top .player-avatar {
      top: -45%;
      left: -50%;
      right: -50%;
    }
    
    &.right .player-avatar {
      right: -10%;
    }

    &.left .player-avatar {
      left: -10%;
    }
  }

  .badge-label {
    padding-top: 15px;
    text-align: center;
    color: $text-secondary;
    small {
      color: $text-tertiary;
    }
  }


  
}

.badge {
  font-size: 1em;

  .badge-inner {
    height: 100%;
  }


  // div {
  //   position: absolute;
  //   left: -50%;
  //   right: -50%;
  //   margin: 0 auto;
  //   font-size: 0.85em;
  //   z-index: 4444;
  // }
}


