

.blank-btn, .icon-wrapper {
  text-align: center;
  display: flex;
  height: 100%;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  width: 50px;
}


.blank-btn {
  cursor: pointer;
  color: #a5a4a9;
}

[name="approve"] {
  color: #94b21b;
}

[name="disapprove"] {
  color: #e52c2c;
}


input:-internal-autofill-selected {
  appearance: menulist-button;
  background-color: #56555a !important;
  background-image: none !important;
  color: -internal-light-dark(black, white) !important;
}