@import '../../../../../scss/colors.scss';

[name="approve"] {
  color: $approve;
}

[name="disapprove"] {
  color: $disapprove;
}

.submit-btn, text-input {
  margin: 10px 0;
  display: block;
}

.consent {
  cursor: pointer;
}

.icon-wrapper {
  height: 100%;
}