
.notification {
  position: relative;
  margin-top: 20px;
  width: 100%;
  padding: 15px 0;
  border-radius: 3px;
  border: none;
  font-size: 12px;
  font-weight: 500;
  color:#f7d8d8;
  overflow: hidden;

  [class^="column"], .crossbar {
    position: relative;
    z-index: 100;
  }

  .crossbar {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 10px;
    color:#f7d8d8;
   
  }

  ::ng-deep [slot=icon] {
    font-size: 30px;
    margin-bottom: -5px;
  }

  ::ng-deep [slot=content] {
    padding-right: 30px;
    color: #ecdede;
  }

  .progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    width:100%;
    z-index: 0;
  }

  &.success {
    background-color: blue;
    .progress-bar {
      background: blueviolet;
    }
  }

  &.success {
    background-color: #94b21b;
    .progress-bar {
      background: #829d17;
    }
  }

  &.warning {
    background-color: yellow;
    .progress-bar {
      background: yellowgreen;
    }
  }

  &.error {
    background-color: #e15454;
    .progress-bar {
      background: #d33636;
    }
  }




}