.docker
.utilities
.git
hex-chess.code-workspace
hex-chess.solution.bat
.gitignore

*/node_modules*
*/*/node_modules*

*/.documentation/*
*/.vscode/*
*/.git/*

./web-service
./web-client
./core
./game-engine

azurite