<div class="panel">
  <div class="panel-header">
    <app-logo></app-logo>
  </div>
  <div class="panel-menu">
    <ng-content select="[menu]"></ng-content>
  </div>
  <div class="panel-content">
    <ng-content select="[content]"></ng-content>
    <div class="notifications-container">
      <notification *ngFor="let notify of notifications" 
        [apperance]="notify.apperance" 
        [duration]="notificationDuration" 
        (closed)="removeNotification(notify)">
          <i slot="icon" name="{{ notify.icon }}"></i>
          <p slot="content" [innerHTML]="notify.content"></p>
      </notification>
    </div> 
  </div>
</div>
<div class="panel-footer">
  <ng-content select="[footer]"></ng-content>
</div>