<div class="container-fluid">
  <div class="row">
    <div class="column-4 profile-info">
      <div class="row">
        <div class="column avatar">
          <avatar-upload [fileName]="profile.avatar" (newFile)="updateAvatar($event)"></avatar-upload>
        </div>
        <div class="column signin-date">
          <div class="row">
            <div class="passive_column-4 title">
              <h5>Joined:</h5>
            </div>
            <div class="passive_column-6">
              <div class="date">
                <i name="date"></i> <strong>{{ account.createdAt | date:'mediumDate'  }}</strong>
              </div>
            </div>
          </div>
        </div>
        <div class="column separator">
          <hr>
        </div>
        <div class="column language-picker">
          <language-picker [selectedLanguage]="account.languageId" (onChange)="updateAccount($event)"></language-picker>
        </div>
      </div>      
    </div>
    <div class="column-6">
      <div class="container profile-form">
        <div class="row">
          <div class="column">
            <h5>Profile</h5><hr class="with-title">
            <integrated-input #nickname
              ngModel
              ngDefaultControl
              required
              minlength="5"
              maxlength="25"
              pattern="[A-z]+"
              [uniqueNicknameValidator]="profile.id"
              name="nickname" 
              type="text"
              [value]="profile.nickname"
              (onChange)="updateProfile($event, nickname)">
            </integrated-input>
          </div> 
        </div>
        <div class="row">
          <div class="column">
            <h5>Account</h5><hr class="with-title">
            <integrated-input #email
              ngModel
              ngDefaultControl          
              required
              email
              maxlength="50"
              uniqueEmailValidator     
              name="email"
              type="email"
              [value]="account.email"
              (onChange)="updateAccount({ email: $event }, email)">
            </integrated-input>
            <integrated-input #password
              style="margin-top: 25px;"
              ngModel
              ngDefaultControl
              required
              minlength="5"
              maxlength="25"
              name="password"
              type="password"
              [value]="account.password"
              (onChange)="updateAccount({ password: $event }, password)">
            </integrated-input>
          </div> 
        </div>
      </div>


    </div>
  </div>
</div>

<!-- <standalone-text-input [value]="profile.nickname" (onChange)="updateProfile($event)"></standalone-text-input> -->
