<div class="container">
  <div #tilesContainer class="tiles" >
    <board-tile *ngFor="let tiles of items">
      <div class="items-container" cdkDropList [cdkDropListData]="tiles" (cdkDropListDropped)="drop($event)">
        <div cdkDrag *ngFor="let tile of tiles" class="item" (mousedown)="setMouseCoordinates($event)" (cdkDragStarted)="dragStarted($event)" [cdkDragConstrainPosition]="constrainPosition">
          {{ tile.name }}


          <div *cdkDragPlaceholder class="item">
            {{ tile.name }}
          </div>

          <ng-template cdkDragPreview matchSize>
            <div class="drag-preview">
              <board-tile class="borderless" [style.width.px]="tileSize">
                <div class="item">
                  {{ tile.name }}
                </div>
              </board-tile>
            </div>
          </ng-template>

          
        </div>
      </div>
    </board-tile>
  </div>
</div>
