<div class="flex-container_center_center fh ">
  <div class="panel">
    <div class="panel-header">
      <app-logo></app-logo>
    </div>
    <div class="panel-menu">
      <a class="panel-menu-item" routerLinkActive="active" routerLink="user">User</a>
      <a class="panel-menu-item" routerLinkActive="active" routerLink="guest">Guest</a>
    </div>
    <div class="panel-content" [@routeAnimations]="prepareRoute(outlet)">
      <router-outlet #outlet="outlet" (activate)="onOutletLoaded($event)"></router-outlet>
      <div class="notifications-container">
        <notification *ngFor="let notify of notifications" [apperance]="notify.apperance" [duration]="5000" (closed)="removeNotify(notify)">
          <i slot="icon" name="{{ notify.icon }}"></i>
          <p slot="content" [innerHTML]="notify.content"></p>
        </notification>
      </div>
    </div>
  </div>
  <div class="panel-footer">
    <a class="link" routerLink="../sign-up">Sign-up</a>
    <span class="separator">-</span>
    <a class="link" routerLink="../recovery">Lost password?</a>
  </div>
</div>


