<div [class.focus]="(state | async)?.isFocused">
  <div #tooltipOverlay="attachedOverlay"
    [attachedOverlay]="tooltip"
    class="input-container"  
    (click)="toggleFocus($event)" 
    (outsideClick)="toggleFocus($event)"> 
  <div class="input-wrapper" (click)="selectTextInInput(input);">
    <span>{{ name }}:</span>
    <input #nicknameInput="ngModel" #input
      [type]="type"
      [name]="name"
      [ngModel]="value"
      [ngModelOptions]="{ standalone: true }">
  </div>
  <div #controls
    *ngIf="(state | async)?.isFocused"
    class="save-wrapper flex_center-center"  
    [@slideIn]="(state | async)?.name"
    [class.disabled]="value === input.value && (state | async)?.name === 'focused'">
    <ng-container [ngSwitch]="(state | async)?.name">
      <button *ngSwitchCase="'focused'"  class="btn-blank" (click)="submitData(input.value)" [disabled]="value === input.value">
        <i name="save"></i>
      </button>
      <i *ngSwitchCase="'invalid'" name="disapprove" class="faulure"></i>
      <div *ngSwitchCase="'submitted'" circle-spinner ></div>
      <i *ngSwitchCase="'success'" name="approve" class="success"></i>
      <i *ngSwitchCase="'failure'" name="disapprove" class="faulure"></i>
    </ng-container>
  </div>
</div>
</div>


<ng-template #tooltip let-error>
  <tooltip>
    <input-error [data]="nicknameInput.control.errors" [name]="name"></input-error>
  </tooltip>
</ng-template>
