<div class="fluid-container">
  <div class="row">
    <div class="column utility-bar">
      <button common-button 
        (click)="markAllAsReaded()"
        [disabled]="(readedNotifications | async).length === 0">
        Mark all as readed
      </button>
    </div>
  </div>
  <div class="row">
    <div class="column" @slideIn>
      <notification-record
        *ngFor="let notify of (notifications | async);trackBy: trackByFn" 
        class="notification"
        [data]="notify" 
        (readed)="markAsReaded($event)">
      </notification-record>
    </div>
  </div>
</div> 