<div class="menu-btn-wrapper">
  <burger-button darkMode #menuPanelOrigin="panel-origin" panel-origin (click)="menuPanelOrigin.openPanel()"></burger-button>
  <panel-overlay [hideOnMouseLeave]="true" [origin]="menuPanelOrigin" class="panel">
    <game-menu></game-menu>
  </panel-overlay>
</div>

<div class="players-order-wrapper">
  <players-order [feed$]="gameFeed$"></players-order>
</div>

<div class="players-score-wrapper">
  <players-score [players]="(gameFeed$ | async)?.players"></players-score>
</div>

<div class="player-control-wrapper">
  <gameplay-log></gameplay-log>
  <player-control 
    [armyBadge]="(gameFeed$ | async)?.myProfile?.armyBadge"
    [avatarUrl]="(gameFeed$ | async)?.myProfile?.avatarUrl"
    [message]="'Start new round'">
  </player-control>
</div>

<gameplay-caption></gameplay-caption>

<scene (onDrop)="startUtilizingTile($event)" [coords]="(gameFeed$ | async)?.coordsMapping"></scene>
