<div class="container">
  <div class="row">
    <div class="column">
      <form [formGroup]="loginForm" (ngSubmit)="authenticate($event)">
          <div class="input-wrapper">
            <label for="login">Login</label>
            <input type="text" name="login" formControlName="login" />
            <span></span>
          </div>
          <div class="input-wrapper">
            <label for="password">Password</label>
            <input type="text" name="password" formControlName="password"/>
          </div> 
          <button class="login-form" type="submit" [disabled]="processing">Sign in</button>
      </form>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="column">
      <button type="button" (click)="navigateToRegistration()">Sign up</button>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="column">
      <button type="button" (click)="navigateToPasswordRecovery()">Lost password?</button>
    </div>
  </div>
</div>