:host {
  display: block;
  width: 100%;
  height: auto;
  overflow: hidden;
  flex-shrink: 0;
}


.tile-wrapper {
  position: relative;
  display: block;
  width: 100%;
  padding-top: 100%;
  margin-top: 10%;
  margin-bottom: 10%;


  &.rotated {
    transform: rotate(60deg); 
  }

  .tile-outer {
    position: absolute;
    top: -50%;
    bottom: -50%;
    left: -50%;
    right: -50%;
    margin: auto;
    width: 110%;
    height: 110%;
    transform: rotate(45deg) skew(-15deg, -15deg);
    overflow: hidden;
    box-sizing: border-box;


    &::before {
      content: "";
      position: absolute;
      left: -9px;
      height: 100%;
      width: 6px;
      transform: rotate(-45deg) translate(0, 40%);
      z-index: 1;
    }

    &::after {
      content: "";
      position: absolute;
      right: -9px;
      height: 100%;
      width: 6px;
      transform: rotate(-45deg) translate(0, -40%);
    }

    .tile-inner {
      position: absolute;
      display: block;
      transform: rotate(-45deg) scale(0.9,1.5);
      width: 100%;
      height: 100%;

      img {
        width: 100%;
      }
    }
  }

}

.tile-outer {
  background-color: rgba(0,0,0,0.1);
} 


.tile-outer {
  border: 6px solid #b6b6b6;
} 

.tile-outer::before, .tile-outer::after {
  background-color: #b6b6b6;
}


:host.borderless {
  .tile-outer::before, .tile-outer::after {
    display: none;
  }

  .tile-outer {
    border: none;
  } 
  
}