<div class="flex-container_center_center fh">
  <panel-template #panelTemplate [notificationsMap]="notificationsMap">
    <ng-container menu>
      <h1>Password reset</h1>
    </ng-container>
    <ng-container content>
      <p>
        Creating a strong and unique password is essential for the security of your account. Use a mix of uppercase and lowercase letters, numbers, and symbols, and avoid using easily guessable information.
      </p>
      <form (ngSubmit)="resetPassword(panelTemplate)">
        <div class="form-field">
          <div class="input-wrapper">
            <div class="blank-btn pass-revealer" (click)="togglePaswordVisibility()">
              <span *ngIf="!visible" class="oi" data-glyph="eye"></span>
              <span *ngIf="visible" class="oi" data-glyph="minus"></span>
            </div>
            <input type="{{ visible ? 'text' : 'password' }}" name="password" [(ngModel)]="password" required placeholder="Password"/>
          </div>
        </div> 
        <button common-button class="solid-btn" type="submit" [loader]="processing">Reset password <span class="oi" data-glyph="account-login"></span></button>
      </form>      
    </ng-container>

    <ng-container footer>
      <a class="link" routerLink="../../sign-up">Sign-up</a>
      <span class="separator">-</span>
      <a class="link" routerLink="../../recovery">Lost password?</a>
    </ng-container>

  </panel-template>
</div>
