.container {
  width: 1024px;
  margin: 0 auto;
}

.flex-container_center_center {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #131217;
}

.fh {
  height: 100%;;
}

.row {
  padding: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
}

.column-6 {
  width: 75%;
}

.column-5 {
  width: 62.5%;
}

.column-4 {
  width: 50%;
}


.panel {
  max-width: 100%;
  width: 500px;
  background: #333134;
  box-sizing: border-box;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
  0 2px 2px rgba(0,0,0,0.12), 
  0 4px 4px rgba(0,0,0,0.12), 
  0 8px 8px rgba(0,0,0,0.12),
  0 16px 16px rgba(0,0,0,0.12);
}

.panel-header, .panel-menu {
  width: 100%;
  background-color: #25242a;
}

.panel-header {
  text-align: center;
  padding: 30px 50px;
  box-sizing: border-box;
}

.panel-menu {
  position: relative;
  display: block;
  text-align: center;
  overflow: auto;

  h1 {
    color: #efefef;
    font-size: 16px;
    margin: 20px 0;
  }
}

.panel-content {
  padding: 50px;
}
.panel-footer {
  padding: 20px 0;
}

.btn-blank {
  display: inline-block;
  background-color: transparent;
  border: none;
  width: 50%;
  padding: 20px 0;
  text-align: center;
  text-decoration: none;
  color: #9e9da2;
  cursor: pointer;
  font-weight: 600;
  transition: color ease-in-out .2s;
  &.active {
    border-bottom: 1px #f6af43 solid;
    color: #efefef;
  }
}




.link {
  text-decoration: none;
  padding: 10px;
  color: #9e9da2;
  font-size: 15px;
  transition: color ease-in-out .2s;
  &:hover {
    color: #f6af43;
  }
}

.separator {
  color: #9e9da2;
}



.panel-content {
  max-width: 100%;
  width: 500px;
  background: #333134;
  box-sizing: border-box;
  padding: 10px 50px 50px 50px;
  border-radius: 3px;
}


.solid-btn {
  margin-top: 30px;
  width: 100%;
  height: 50px;
  border-radius: 3px;
  border: none;
  font-size: 16px;
  font-weight: 700;
  background-color: #f6af43;
  color:#25242a;
  cursor: pointer;
  transition: color, background-color ease-in-out .2s;
  &:focus {
    outline: none;
    border: 1px #f6af43 solid;
    box-shadow: 0 0 3px #f6af43;
  }
  &:hover {
    background-color: #f97f2c;
  }
}

.blank-btn {
  width: 50px;
  text-align: center;
  display:table;
  cursor: pointer;

  span {
    display: table-cell;
    vertical-align: middle;
    color: #a5a4a9;

    &:hover {
      color: #f6af43;
    }

    font-size: 20px;
    &::before {
      line-height: 2;
    }
    
  }

}



.form-field {
  padding: 10px 0;
  .input-wrapper {
    position: relative;
    display: block;
    input[type=text], input[type=password], input[type=email] {
      display: block;
      width: 100%;
      height: 100%;
      color: #a5a4a9;
      background: #3c3b40;
      box-sizing: border-box;
      border: 1px #636267 solid;
      height: 50px;
      border-radius: 3px;
      padding: 20px;
      font-size: 16px;
      
      &:focus {
        outline: none;
        border: 1px #f6af43 solid;
        box-shadow: 0 0 3px #f6af43;
      }
    }

    input[type=checkbox] {
      background: #3c3b40;
      box-sizing: border-box;
      border: 1px #636267 solid;
      border-radius: 2px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      outline: 0;
      height: 16px;
      width: 16px;
      cursor: pointer;
    }


  
    .pass-revealer {
      position: absolute;
      right: 0;
      height: 100%;
    }
  }
}


p {
  color: #a5a4a9;
  font-size: 12px;
  margin: 20px 0;
  a { 
    color: #f6af43;
    text-decoration: none; 
  }
}



::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:    #a5a4a9;
  font-weight: 500;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 color:    #a5a4a9;
 opacity:  1;
 font-weight: 500;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
 color:    #a5a4a9;
 opacity:  1;
 font-weight: 500;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color:    #a5a4a9;
 font-weight: 500;
}
::-ms-input-placeholder { /* Microsoft Edge */
 color:    #a5a4a9;
 font-weight: 500;
}

::placeholder { /* Most modern browsers support this now. */
 color:    #a5a4a9;
 font-weight: 500;
}


input:-internal-autofill-selected {
  appearance: menulist-button;
  background-color: #56555a !important;
  background-image: none !important;
  color: -internal-light-dark(black, white) !important;
}