.container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 100%;


  .tiles {
   max-width: 250px;
   width: 50%;
  }

  .items-container {
    display:block;
    width: 100%;
    height: 100%;
  }
}