<div class="flex-container_center_center fh">
  <panel-template>
    <ng-container menu>
      <h1>Create account</h1>
    </ng-container>

    <ng-container content>
      <registration-form (onSubmit)="registerUser($event)"></registration-form>
      <div class="notifications-container">
        <notification *ngFor="let notify of notifications" [apperance]="notify.apperance" [duration]="notifyDuration" (closed)="removeNotify(notify)">
          <i slot="icon" name="{{ notify.icon }}"></i>
          <p slot="content" [innerHTML]="notify.content"></p>
        </notification>
      </div>
    </ng-container>

    <ng-container footer>
      <a class="link" routerLink="../log-in/user">Log-in</a>
      <span class="separator">-</span>
      <a class="link" target="_blank" [href]="termsAndConditionsUrl">Terms and conditions</a>
    </ng-container>

  </panel-template>
</div>






