<div class="flex-container_center_center fh">
  <panel-template #panelTemplate [notificationsMap]="notificationsMap">
    <ng-container menu>
      <h1>Create account</h1>
    </ng-container>

    <ng-container content>
      <registration-form (onSubmit)="registerUser($event, panelTemplate)"></registration-form>
    </ng-container>

    <ng-container footer>
      <a class="link" routerLink="../log-in/user">Log-in</a>
      <span class="separator">-</span>
      <a class="link" target="_blank" [href]="termsAndConditionsUrl">Terms and conditions</a>
    </ng-container>

  </panel-template>
</div>






