<div #armyPanelOrigin="panel-origin" panel-origin>
  <army-badge *ngFor="let army of armies; let i = index" [setup]="army" (click)="armyPanelOrigin.openPanel(army)"></army-badge>
  <hexagon *ngIf="armies?.length < armiesLimit" [colors]="addArmySlotButtonSetup" (click)="armyPanelOrigin.openPanel()" class="add-army">
    <i name="add"></i>
  </hexagon>
</div>

<panel-overlay 
  #panel
  flexible
  [origin]="armyPanelOrigin" 
  [hideOnMouseLeave]="true">
  <army-picker 
    [selected]="panel.context ? [panel.context] : []"
    [disabled]="armies"
    [selectionLimit]="1" 
    (select)="setSelectedArmy($event, panel.context)">

    <div *ngIf="panel.context" class="remove-button" (click)="removeSelectedArmy(panel.context)">
      <button class="btn-blank circle">
        <i name="remove"></i>
      </button>
      <div class="stroke circle"></div>
    </div>
  
  </army-picker>
</panel-overlay>
