<div class="flex-container_center_center fh ">
  <div class="panel">
    <div class="panel-header">
      Hex chess
    </div>
    <div class="panel-menu">
      <h1>Password recovery</h1>
    </div>
    <div class="panel-content">
      <p>
        Fusce justo orci, iaculis at ullamcorper dictum, tempus eget neque. Etiam cursus vulputate 
        augue in pharetra <a target="_blank">Terms and conditions</a> Nullam tincidunt mollis lorem, eu porttitor leo scelerisque eget. In feugiat hendrerit rhoncus.
      </p>
      <form (ngSubmit)="sendRecoveryLink()">
        <div class="form-field">
          <div class="input-wrapper">
            <input type="email" name="email" [(ngModel)]="email" required placeholder="Email"/>
          </div>  
        </div>
        <button class="solid-btn" type="submit" [disabled]="processing">Send recovery link</button>
      </form>      
    </div>
  </div>
  <div class="panel-footer">
    <a class="link" routerLink="../sign-up">Sign-up</a>
    <span class="separator">-</span>
    <a class="link" routerLink="../recovery">Lost password?</a>
  </div>
</div>
