// Dark theme

$primary-dark: #131217;
$secondary-dark: #1b1a21;
$tertiary-dark: #2e2c36;
$quaternary-dark: #25242a;

$primary-grey: #333134;

$text-primary: #efefef;
$text-secondary: #9c9c9c;
$text-tertiary: #393741;

$orange: #f6af43;
$dark-orange: #f97f2c;

$approve: #94b21b;
$disapprove: #e52c2c;

// Notifications
$default: #5db3e5;
$success: #8ded4d;
$warning: #f1a038;
$error: #e34242;