// Dark theme

$primary-dark: #131217;
$secondary-dark: #1b1a21;


$text-primary: #fff;
$text-secondary: #9c9c9c;
$text-tertiary: #393741;

$orange: #f6af43;


// Armies
// Borgo







//$border-dark: rgba($base-color, 0.88);