// Dark theme

$primary-dark: #131217;
$secondary-dark: #1b1a21;
$tertiary-dark: #2e2c36;


$text-primary: #fff;
$text-secondary: #9c9c9c;
$text-tertiary: #393741;

$orange: #f6af43;


// Notifications
$default: #5db3e5;
$success: #8ded4d;
$warning: #f1a038;
$error: #e34242;




// Armies
// Borgo







//$border-dark: rgba($base-color, 0.88);