.blank-btn, .icon-wrapper {
  text-align: center;
  display: flex;
  height: 100%;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  width: 50px;
}


.blank-btn {
  cursor: pointer;
  color: #a5a4a9;
}

[name="approve"] {
  color: #94b21b;
}

[name="disapprove"] {
  color: #e52c2c;
}

.submit-btn i {
  margin-left: 5px;
}

text-input, .submit-btn {
  margin: 10px 0;
  display: block;
}
