@import '../../../../../scss/commons.scss';
@import '../../../../../scss/colors.scss';


.form-field {
  padding: 10px 0;
  .input-wrapper {
    position: relative;
    display: block;
    input[type=text], input[type=password], input[type=email] {
      display: block;
      width: 100%;
      height: 100%;
      color: #a5a4a9;
      background: #3c3b40;
      box-sizing: border-box;
      border: 1px #636267 solid;
      height: 50px;
      border-radius: 3px;
      padding: 20px;
      font-size: 16px;
      
      &:focus {
        outline: none;
        border: 1px #f6af43 solid;
        box-shadow: 0 0 3px #f6af43;
      }
    }

    input[type=checkbox] {
      background: #3c3b40;
      box-sizing: border-box;
      border: 1px #636267 solid;
      border-radius: 2px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      outline: 0;
      height: 16px;
      width: 16px;
      cursor: pointer;
    }


  
    .pass-revealer {
      position: absolute;
      right: 0;
      height: 100%;
    }
  }
}


p {
  color: $text-secondary;
  font-size: 12px;
  margin-bottom: 20px;
}