<div class="flex-container_center_center fh">
  <panel-template>
    <ng-container menu>
      <h1>Password recovery</h1>
    </ng-container>

    <ng-container content>
      <p>
        If you've forgotten your password, we've got you covered. Simply enter your email address and we'll send you a link to reset your password. Make sure to check your spam folder if you don't see the email in your inbox.
      </p>
      <form (ngSubmit)="sendRecoveryLink()">
        <div class="form-field">
          <div class="input-wrapper">
            <input type="email" name="email" [(ngModel)]="email" required placeholder="Email"/>
          </div>  
        </div>
        <button common-button type="submit" [disabled]="processing">Send recovery link</button>
      </form>    
    </ng-container>

    <ng-container footer>
      <a class="link" routerLink="../sign-up">Sign-up</a>
      <span class="separator">-</span>
      <a class="link" routerLink="../recovery">Lost password?</a>
    </ng-container>

  </panel-template>
</div>