<div class="container-fluid game-modes tiles-wrapper" [@slideInTop]>
  <div class="row">
    <div *ngFor="let item of lobbyItems" [ngClass]="'column-' + item.size" class="tile" [ngSwitch]="item.type" >
      
      <ng-container *ngSwitchCase="'gameMode'">
        <game-mode-tile [id]="item.config.modeId" ></game-mode-tile>
      </ng-container>

    </div>
  </div>
</div>
<div class="container-fluid widgets" >
  <div class="row">
    <div class="column-5">
      <div class="toper">
        <span>Games history</span> <div class="separator"></div>
      </div>
      <div class="played-games">
        <my-games-widget [@fadeIn]></my-games-widget>
      </div>    
    </div>
    <div class="column-5">
      <div class="toper">
        <div class="separator"></div><span>Notifications</span> 
      </div>
      <div class="latest-notifications">
        <notifications-widget [@fadeIn]></notifications-widget>
      </div>   
    </div>
  </div>
</div>