@import './../../../../../scss/breakpoints.scss';

:host {
  display: block;
  height: 100%;
  width:100%;
  .container-fluid {
    height: 100%;
    .row {
      height: 100%;
    }
  }
}

.container-fluid.game-modes {
  box-sizing: border-box;
  padding: 10px 0 30px 0;
  height: 90%;

  @media screen and (max-width: $tablet) {
    height: auto;
  }


  
  // .column-2 {
  //   box-sizing: border-box;
  //   padding: 10px;
  // }
  // It not working with dynamic declared css class [ngClass], 
  // but it should. Need to check is it a bug.
  // [class^='column-'] {
  //   box-sizing: border-box;
  //   padding: 10px;
  // }
  // [class^='column-']:first-child {
  //   padding-left: 0;
  // }
  // [class^='column-']:last-child {
  //   padding-right: 0;
  // } 
}


.tiles-wrapper {
  pointer-events: none;
  margin: 0 -10px;
  .tile {     
    pointer-events: auto;
    transition: transform ease-in-out .2s;


    game-mode-tile {
      box-sizing: border-box;
      padding: 10px;

      @media screen and (max-width: $tablet) {
        height: 300px;
      }
    }

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
      0 2px 2px rgba(0,0,0,0.12), 
      0 4px 4px rgba(0,0,0,0.12), 
      0 8px 8px rgba(0,0,0,0.12),
      0 16px 16px rgba(0,0,0,0.12);
    }


    @media only screen and (max-width: 1100px) and (min-width: 500px) { 
      width: 50%;

      &:hover {
        transform: none;
      }
    }
  }
}

::ng-deep.tiles-wrapper:hover {
  .tile:not(:hover) div:first-child {
    background-color: rgba(0,0,0,0.5);
  }
}



.widgets {
  height: auto!important;
}

.toper {
  display: flex;
  font-weight: 600;
  vertical-align: middle;
  font-size: 12px;
  color: #393741;

  span {
    margin-right: 10px;
  }

  .separator ~ span {
    margin-left: 10px;
    margin-right: 0px;
  } 

  .separator {
    border-top: #1b1a21 2px solid;
    flex-grow: 2;
    margin-top: 6px;
  }
}





.played-games, .latest-notifications {
  height: 100%;
  display: flex;
  align-items: center;
}

.played-games {
  justify-content: flex-start;
}

.latest-notifications {
  justify-content: flex-end;
}




