<ng-container *ngIf="dataLoaded else loader">
  <div class="container fh">
    <header>
      <div class="flex-container_center_center fh ">
        <div class="row">
          <div class="column-3 armies">
            <my-armies-widget [@slideIn]="{ value: dataLoaded, params: { delay: 50 }}"></my-armies-widget>
          </div>
          <div class="column-7 navigation">
            <main-menu [@slideIn]="{ value: dataLoaded, params: { delay: 125 }}"></main-menu>
            <my-profile-widget 
              #profilePanelOrigin="panel-origin" 
              panel-origin 
              onClick
              [active]="profilePanelOrigin.isOpen" 
              [@slideIn]="{ value: dataLoaded, params: { delay: 200 }}">
            </my-profile-widget>      
            <panel-overlay [hideOnMouseLeave]="true" [origin]="profilePanelOrigin">
              <secondary-menu></secondary-menu>
            </panel-overlay>
          </div>
        </div>
      </div>  
    </header>
    <main [@routeAnimations]="prepareRoute(outlet)" (@routeAnimations.done)="test($event)">
      <router-outlet #outlet="outlet"></router-outlet>
    </main>
    <footer>
      copyright
    </footer>
  </div>
</ng-container>

<ng-template #loader>
  <div class="fluid-container fh">
    <div class="row fh">
      <div class="column-10 flex_center-center">
        <div circle-spinner></div>
      </div>
    </div>
  </div>
</ng-template>
