@import '../../../../scss/breakpoints.scss';


:host { 
  height: 100%;
  display: block;
  background-color: #131217;
  padding: 15px;
  box-sizing: border-box;

  @media screen and (max-width: $tablet) {
    height: auto; 
  }
}

header {
  height: 100px;
  box-sizing: border-box;
  padding: 60px 0;

  @media screen and (max-width: $tablet) {
    padding: 0;
    height: auto;
  }

  my-profile-widget {
    z-index: 3333;
  }
}

main {
  height: calc(100% - 140px);
}

footer {
  height: 20px;
  overflow: hidden;
  font-size: 8px;
  color: #1b1a21;
  text-align: right;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}



.fluid-container { 
  @media screen and (max-width: $tablet) {
    &:not(.mobile) { display: none; }
  }
  &.mobile {
    display: none;
    @media screen and (max-width: $tablet) { 
      & { 
        display: flex;
        justify-content:space-between;
      }  
    }
  }
}

.secondary-menu {
  position: relative;
  top: 20px;
  list-style-type: none;
  padding: 20px 10px;
  background-color: #1b1a21;
  border-radius: 5px;
  margin: 0;


  ::ng-deep ul li {
    padding: 5px 0;
    border-radius: 5px;
    i { 
      font-size: 10px;
      margin-right: 10px;
    }
    &:hover {
      background-color: #292730;       
    }
  } 
}

.mobile-menu-toggle {
  display: inline-block;
  box-sizing: border-box;
  padding: 10px 15px;
  background-color: #1b1a21;
  border-radius: 5px;
}

.modal-inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .avatar {
    margin-bottom: 20px;
  }
}

.mobile-menu {
  ::ng-deep ul li {
    max-width: 400px;
    margin: 0 auto;
    font-size: 1.4em;
    a { 
      display: block;
      text-align: center;
      padding: 20px 0; 
    }
    border-radius: 10px;
    i { 
      font-size: 10px;
      margin-right: 10px;
    }
    &:hover {
      background-color: #292730;       
    }
  } 
}








