:host { 
  height: 100%;
  display: block;
  background-color: #131217;
}

header {
  height: 100px;
  box-sizing: border-box;
  padding: 60px 0;

  my-profile-widget {
    z-index: 3333;
  }
}

main {
  height: calc(100% - 140px);
}

footer {
  height: 20px;
  overflow: hidden;
  font-size: 8px;
  color: #1b1a21;
  text-align: right;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}





