<ng-container *ngIf="dataLoaded else loader">
  <div class="container fh">
    <header>
      <div class="fluid-container flex_center-center fh">
        <div class="row">
          <div class="column-3 armies">
            <my-armies-widget [@slideIn]="{ value: dataLoaded, params: { delay: 50 }}"></my-armies-widget>
          </div>
          <div class="column-7 navigation">
            <navigational-menu
              [locations]="mainMenu"
              [@slideIn]="{ value: dataLoaded, params: { delay: 125 }}">
            </navigational-menu>
            <my-profile-widget 
              #profilePanelOrigin="panel-origin" 
              panel-origin 
              onClick
              [active]="profilePanelOrigin.isOpen" 
              [@slideIn]="{ value: dataLoaded, params: { delay: 200 }}">
            </my-profile-widget>      
            <panel-overlay [hideOnMouseLeave]="true" [origin]="profilePanelOrigin">
              <navigational-menu
                class="secondary-menu" 
                vertical
                showIcons
                [locations]="secondaryMenu">
              </navigational-menu>
            </panel-overlay>
          </div>
        </div>
      </div>
      <div class="fluid-container mobile">
        <my-armies-widget [@slideIn]="{ value: dataLoaded, params: { delay: 50 }}"></my-armies-widget>
        <div class="mobile-menu-toggle">
          <burger-button (click)="modal.open()"></burger-button>
        </div>
      </div>
    </header>
    <main [@routeAnimations]="prepareRoute(outlet)">
      <router-outlet #outlet="outlet"></router-outlet>
    </main>
    <footer>
      copyright
    </footer>
  </div>
</ng-container>

<ng-template #loader>
  <div class="fluid-container fh">
    <div class="row fh">
      <div class="column-10 flex_center-center">
        <div circle-spinner></div>
      </div>
    </div>
  </div>
</ng-template>


<modal #modal>
  <div class="modal-inner">
    <my-avatar-widget class="avatar"></my-avatar-widget>
    <navigational-menu
      class="mobile-menu"
      vertical
      [locations]="[mainMenu, secondaryMenu, mobileMenu]" 
      [@slideIn]="{ value: dataLoaded, params: { delay: 125 }}">
    </navigational-menu>
  </div>
</modal>
